body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
#home-nav {
  width: 100vw;
  min-height: 50px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 0px;
  left: 0px;

}
#home-nav a{
  text-decoration: none;
  color: rgb(68, 68, 68);
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  position: relative;

}

#home-main {
  /* margin-top: 50px; */
  height: calc(100vh -50px);
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.parallax-c {
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x:hidden;
  overflow-y:auto;
}
.parallax-wrapper {
  width: 100vw;
  height:100vh;
  padding-top:20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax-wrapper::before {
  content:"";
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  background-image: url("./images/fernGreenForestLush.jpg");
  background-size: cover;
  position: absolute;
  z-index: -1;
  transform:translateZ(-1px) scale(2);
}
.parallax-wrapper1 {
  width: 100vw;
  height:100vh;
  /* padding-top:20vh; */
  box-sizing: border-box;
  transform-style: preserve-3d;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.parallax-wrapper1::before {
  content:"";
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  background-image: url("./images/fernGreenForestLush.jpg");
  background-size: cover;
  position: absolute;
  z-index: -1;
  transform:translateZ(-1px) scale(2);
  filter: brightness(30%);
}
.parallax-wrapper2 {
  width: 100vw;
  height:100vh;
  /* padding-top:20vh; */
  box-sizing: border-box;
  transform-style: preserve-3d;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.parallax-wrapper2::before {
  content:"";
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  background-image: url("./images/Uganda-2014-7.jpg");
  background-size: cover;
  position: absolute;
  z-index: -1;
  transform:translateZ(-1px) scale(2);
  filter: brightness(30%);
}

.regular-wrapper {
  width: 100vw;
  height:100vh;
  padding-top:20vh;
  background-image: url("./images/Burcham_Nepal2012_Sherpa-2012-4177-1500x1000.jpg");
  background-size: cover;
  /* background-color: lightgrey; */
  z-index: 2;
  position: relative;
}
.regular-wrapper1 {
  width: 100vw;
  height:100vh;
  /* padding-top:20vh; */
  background-image: url("./images/Burcham_Nepal2012_Sherpa-2012-4177-1500x1000.jpg");
  background-size: cover;
  /* background-color: lightgrey; */
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
.regular-wrapper1__inner-c {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255, .7);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* .content {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  background: #aaa;
} */
.regular-wrapper2 {
  width: 100vw;
  height:100vh;
  /* padding-top:20vh; */
  background-image: url("./images/Katrina-Zavalney-Networking.jpg");
  background-size: cover;
  background-position: bottom 50px center;
  /* background-color: lightgrey; */
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
  
}

#katrina-top__h1 {
  font-size: 40px;
  color: white;
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
}

#katrina-top__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#katrina-top__text P {
  width: 45vw;
  font-size: 17px;
  color: white;
  font-family: 'M PLUS 1p', sans-serif;
  margin: 20 0px 0px 0px;
}
.regular-wrapper1 img {
  height: 70vh;
}
#nepal-women-top__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#nepal-women__h2 {
  font-size: 40px;
  color: rgb(0, 195, 255);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
  cursor: pointer;
  transition: all .3s;
}
#nepal-women__h2:hover {
  color: rgb(243, 134, 247);
  font-size: 50px;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);

}
#nepal-women-top__text P {
  width: 80%;
  font-size: 17px;
  color: rgb(0, 0, 0);
  font-family: 'M PLUS 1p', sans-serif;
  margin: 20 0px 0px 0px;
}
#uganda__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#udganda__h1 {
  font-size: 40px;
  color: rgb(48, 165, 57);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
  cursor: pointer;
  transition: all .3s;
}
#udganda__h1:hover {
  color: rgb(243, 134, 247);
  font-size: 50px;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}
#uganda__text P {
  width: 40vw;
  font-size: 17px;
  color: white;
  font-family: 'M PLUS 1p', sans-serif;
  margin: 20 0px 0px 0px;
}
.parallax-wrapper2 img {
  height: 70vh;
  border-radius: 10px;
}
.networking__text {
  position: absolute;
  left: 0px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 0px 0px 0px 0px;
  height: 100%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  
 
}
/* .scroll-from-left {
  margin: 0px 0px 0px 0px;
} */
.from-left {
  transform: translateX(-90%);
}
.from-right {
  transform: translateX(100%);
}
.from-left,
.from-right {
  transition: opacity 250ms ease-in, transform 700ms ease-in;
  transition-delay: .5s;
  opacity: 0;
}
.from-left.appear,
.from-right.appear {
  transform: translateX(0%);
  opacity: 1;
}


#networking__text__h2 {
  font-size: 30px;
  color: rgb(0, 195, 255);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  margin: 20% 0px 0px 0px;
  font-family: 'M PLUS 1p', sans-serif;
  cursor: pointer;
  transition: all .3s;
  position: relative;

  
}
#networking__text__h2:hover {
  color: rgb(243, 134, 247);
  font-size: 35px;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);

}
.networking__text P {
  width: 80%;
  font-size: 17px;
  color: white;
  font-family: 'M PLUS 1p', sans-serif;
  margin: 5px 0px 0px 0px;
}































.katrina-top {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  /* background-image: url("./images/fernGreenForestLush.jpg") ;
  background-size: cover;
  opacity: .7; */
}
.katrina-top::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/fernGreenForestLush.jpg") ;
  background-size: cover;
  /* opacity: .2; */
  filter: brightness(20%);
  z-index: -1;
}


#katrinaPro1 {
  width: 300px;
  height: auto;
  margin: 0px 0px 0px 0px;
  border-radius: 100%;
}
#women-nepal{
  height: 50vh;
  width: 300vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 100px 0px 0px 0px;  
}
#women-nepal::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: thistle;
  margin-top: 300px;
  /* background-image: url("./images/fernGreenForestLush.jpg") ; */
  /* background-size: cover; */
  /* opacity: .2; */
  /* filter: brightness(20%); */
  z-index: -1;
}
.regular-wrapper1__inner-c img{
  height: 100vh;
  width: auto;
}
.fade-in-animation{
  animation: fadeInPotd ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInPotd {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}
.fade-in.appear {
  opacity: 1;
}
.scroll-effect {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;

  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

body {
  min-height: 500vh;
}


